{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Games{% endblock %}

{% block body %}
<main class="main-games text-center">
    <h1>Games</h1>

    <div class="container d-flex flex-wrap">
        {% for game in games %}
        {% include "components/_game_card.html.twig" %}
        {% endfor %}
    </div>
</main>
{% endblock %}
