@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
}

.cell-shrink {
    width: 0.1%;
    white-space: nowrap;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 1px;

    .body-container {
        flex-grow: 1;
    }
}

.main-login,
.main-register {
    width: fit-content;
    margin: auto;
}

.main-home table,
.main-game table {
    width: 20rem;
}

.game-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;

    .card {
        width: 15rem;
    }
}

.race-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .race-timer {
        min-width: 15rem;
        font-size: 1.5rem;
        font-weight: bolder;
        padding: 0.5rem;
    }
}

.race-time,
.race-timer {
    small {
        font-size: 0.8em;
    }
}
