@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 1px;

    .body-container {
        flex-grow: 1;
    }
}
