@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 1px;

    .body-container {
        flex-grow: 1;
    }
}

.game-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    .card {
        width: 15rem;
    }
}