<div class="h-100 d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="{{ path('admin_game_index') }}" class="nav-link text-white">Games</a>
        </li>
        <li class="nav-item">
            <a href="{{ path('admin_category_index') }}" class="nav-link text-white">Categories</a>
        </li>
    </ul>
</div>
