<span class="race-time">
    {% if finishedAt ?? result.finished %}
        {% if not result.forfeited %}
            {% set time_diff = result.startedAt.diff(finishedAt ?? result.finishedAt) %}
            {% set hours = time_diff.h + (time_diff.days * 24) %}
            {{ (hours ? hours ~ ':' : '') ~ time_diff|date('%I:%S.') }}<small>{{ time_diff|date('%F')[:2] }}</small>
        {% else %}
            <span class="text-danger">Forfeit</span>
        {% endif %}
    {% else %}
        Racing...
    {% endif %}
</span>
